/* form */
form {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    overflow: auto;
}

.form {
    position: relative;
    z-index: 4;
    background-color: #fff;
    width: fit-content;
    overflow: auto;
    max-height: 100vh;
}

.form__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 16px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 5;
}

.form__title-text {
    margin-top: 16px;
}

.form__title-cancel {
    padding-right: 8px;
}

.form__title-cancel:hover .form__cancel-icon{
    opacity: 1;
}

.form__cancel-icon {
    background: url("../../icon/x.svg");
    width: 20px;
    height: 20px;
    background-size: 20px;
    opacity: 0.6;
}

.form__content {
    margin: 16px 0px 0px 16px;
}

.form__group {
    margin-left: 16px;
}

.form__group-title::after {
    content: "";
    width: calc(var(--column-width) * 1.5);
    background-color: #019160;
    height: 3px;
    display: block;
    margin: 4px 0;
}

.form-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.form-item .tooltip input, .form-item>.comboBox {
    width: calc(var(--column-width) * 3);
    height: 40px;
    font-size: 13px;
    margin-right: 24px;
    padding-left: 16px;
}   

.form-item {
    margin-right: 24px;
}

.form-item>.comboBox {
    margin-left: 0px;
    padding-left: 0;
    margin-right: 0px;
    margin-top: 4px;
}

.form-item .comboBox .comboBox__btn {
    width: 100%;
    height: 100%;
}

.form__footer {
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 16px;
    height: 60px;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    z-index: 5;
}

.form__btn {
    margin-left: 16px;
}

@media only screen and (min-height: 893px) {
    form {
        bottom: 0;
    }
}