:root {
    --nav-width: 226px;

    --column-width: 71px;

    --gutter-width: 24px;

    --pd-lr: 24px;

    --header-height: 48px;

    --color-regular: #454545;

    --row-height: 48px;
}

::placeholder {
    font-family: 'GoogleSans-regular';
    font-size: 12px;
    color: #bbb;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #cdd3d6;
    border-radius: 10px;
}

body {
    font-family: 'GoogleSans-regular', sans-serif;
    height: 100vh !important;
}

a {
    text-decoration: none;
    color: var(--color-regular);
}

.wrapper {
    display: flex;
    height: calc(100vh - 16px);
    width: 100%;
}

.main {
    height: 100%;
    width: calc(100% - var(--nav-width) - 1px);
    margin-left: calc(var(--nav-width));
    transition: .2s;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
    z-index: 2;
}

.loader {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
}

.loader__icon {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #019160; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* text */
.text-heading, .text-title, .text-title2 {
    font-family: 'GoogleSans-bold';
    color: #000;
}

.text-heading {
    font-size: 24px;
}

.text-title {
    font-size: 20px;
}

.text-title2 {
    font-size: 15px;
}

.text-label-input {
    font-family: 'GoogleSans-medium';
    font-size: 13px;
    color: #000;
}

.text-label {
    font-family: 'GoogleSans-regular';
    font-size: 13px;
    color: #454545;
}

.text-hint {
    font-family: 'GoogleSans-regular';
    font-size: 11px;
    color: #bbb;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

/* font */
.font-bold {
    font-family: 'GoogleSans-bold';
}

.font-regular {
    font-family: 'GoogleSans-regular';
}

.font-medium {
    font-family: 'GoogleSans-medium';
}

/* display */
.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

/* opacity */
.opacity-1 {
    opacity: 1 !important;
}

/* rotate */
.rotate-180 {
    transform: rotate(180deg);
}

/* date box */

.dx-show-invalid-badge.dx-datebox.dx-textbox.dx-texteditor.dx-dropdowneditor-button-visible.dx-editor-outlined.dx-texteditor-empty.dx-widget.dx-visibility-change-handler.dx-dropdowneditor.dx-datebox-date.dx-datebox-calendar {
    margin-top: 4px !important;
}

.dx-placeholder::before {
    padding-left: 16px !important;
}

.dx-placeholder {
    font-family: 'GoogleSans-regular' !important;
}

input.dx-texteditor-input {
    padding-left: 16px !important;
    font-family: 'GoogleSans-regular' !important;
}

.dx-texteditor.dx-editor-outlined {
    border: 1px solid #bbb;
}

.dx-state-focused {
    border: 1px solid #019160 !important;
}

.dx-state-active {
    border: 1px solid #019160 !important;
}

.dx-texteditor-container {
    transition: 0s !important;
}

/* Font */
@font-face {
    font-family: 'GoogleSans-regular';
    src: url("../../font/GoogleSans-Regular.otf");
}

@font-face {
    font-family: 'GoogleSans-medium';
    src: url("../../font/GoogleSans-Medium.otf");
}

@font-face {
    font-family: 'GoogleSans-light';
    src: url("../../font/GoogleSans-Light.otf");
}

@font-face {
    font-family: 'GoogleSans-bold';
    src: url("../../font/GoogleSans-Bold.otf");
}
