/* table */
table {
    width: 100%;
    font-size: 14px;
    border-collapse: collapse;
}

thead th {
    text-align: left;
    padding: 0 8px 0 10px;
}

tr {
    height: var(--row-height);
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}

tr td {
    padding: 0 10px 0 16px;
}

tbody tr {
    cursor: pointer;
}

tbody tr:nth-child(odd) {
    background-color: #fafafa;
}

.tr-selected {
    background-color: #e3f3ee !important;
}

.tr-hover {
    background-color: #e9ebee !important;
}